<script type="text/javascript">
    var coms = <%- JSON.stringify(coms) %>;
</script>

<h1>Wizards</h1>

<div ng-app="wizards">

<div ng-controller="WizardsCtrl" style="position: relative">

<div class="modal"
     ng-show="show_preview"
     id="myModal"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Rendered View of Wizard &quot;{{ view_wizard.title }}&quot;</h3>
        </div>
    <div class="modal-body" style="min-height: 10em">
        <iframe id="#wizard_view" src="{{ preview_url }}" width="90%" height="400">

        </iframe></div>
    <div class="modal-footer">
        <button class="btn"  data-dismiss="modal" aria-hidden="true">Close</button>

            <button  data-dismiss="modal" class="btn btn-primary"
                     type="submit" show_preview=false">OK</button>
    </div>
</div>

<div class="overlay" ng-show="publish_wizard_show" style="display: none" id="publish_wizard">

</div>

<div class="modal" ng-show="show_new_step"
     style="display: none; width: 800px; margin-left: -400px; margin-top:-400px" id="show_new_step"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true"
        >

</div>

<div class="modal" ng-show="show_edit_step" id="show_edit_step"
     style="display: none; width: 800px; margin-left: -400px; margin-top:-400px"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true"
        >

</div>

<div  ng-show="show_new_wizard"
     class="modal"
     id="new-wizard-modal"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Create Wizard</h3>
        </div>

    <div class="modal-body">
        <form class="form" id="new_wizard_form">
            <table class="table">
                <tbody>

                <tr>
                    <th><label>Name</label></th>
                    <td><input type="text" name="name" ng-model="new_wizard.name" class="input-large"/></td>

                    <th><label>Title</label></th>
                    <td><input type="text" name="title" ng-model="new_wizard.title" class="input-large"/></td>
                </tr>

                <tr>
                    <th><label>Description</label></th>
                    <td rowspan="2"><textarea rows="4"  name="notes" class="input-xlarge" ng-model="new_wizard.notes"></textarea>
                    </td>
                </tr>

                <tr>
                    <th><label>Content Type</label></th>
                    <td colspan="2">
                        <label style="display: inline-block; width: 5em"
                               class="radio" ><input type="radio"
                               ng-model="new_wizard.content_type"
                               value="text"/>Text</label>
                        <label style="display: inline-block; width: 5em"
                               class="radio" ><input type="radio"
                               ng-model="new_wizard.content_type"
                               value="html"/>HTML</label>
                        <label style="display: inline-block; width: 5em"
                               class="radio" ><input type="radio"
                               ng-model="new_wizard.content_type"
                               value="json"/>JSON</label>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <textarea rows="4"  name="content" class="input-xxlarge" ng-model="new_wizard.content"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">

        <button type="reset"  data-dismiss="modal" class="btn" ng-click="close_dlog('new_wizard')">Cancel</button>
        <button type="submit" data-dismiss="modal" class="btn btn-primary" ng-click="create_wizard(new_wizard)">Create Wizard</button>

    </div>
</div>

<div class="overlay" ng-show="show_edit_wizard" style="display: none">

    <figure>
        <h1>Edit Wizard</h1>

        <form class="dialog_form" id="edit_wizard_form">
            <table>
                <tr>
                    <th><label>Name</label></th>
                    <td><input type="text" name="name" ng-model="edit_wizard.name" class="input-large"/></td>

                    <th><label>Title</label></th>
                    <td><input type="text" name="title" ng-model="edit_wizard.title" class="input-large"/></td>
                </tr>

                <tr>
                    <th><label>Description</label></th>
                    <td rowspan="2"><textarea rows="4"  name="notes" class="input-xlarge" ng-model="edit_wizard.notes"></textarea>
                    </td>
                </tr>


                <tr>
                    <th><label>Content Type</label></th>
                    <td rowspan="2">
                        <label style="display: inline-block; width: 5em"><input type="radio"
                                                                                ng-model="edit_wizard.content_type"
                                                                                value="text"/>Text</label>
                        <label style="display: inline-block; width: 5em"><input type="radio"
                                                                                ng-model="edit_wizard.content_type"
                                                                                value="html"/>HTML</label>
                        <label style="display: inline-block; width: 5em"><input type="radio"
                                                                                ng-model="edit_wizard.content_type"
                                                                                value="json"/>JSON</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <textarea rows="4"  name="content" class="input-xxlarge" ng-model="edit_wizard.content"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <button class="btn"  type="submit" ng-click="update_wizard(edit_wizard)">Update Wizard</button>
                        <button class="btn btn-primary" type="reset" ng-click="close_dlog('edit_wizard')">Cancel</button>
                    </td>
                </tr>
            </table>
        </form>
    </figure>
</div>
<p>*The Wizard &quot;name&quot; is a key used in urls - so ideally, no spaces, special chars.</p>
<div class="well">

<table class="table" style="width: 100%">
    <thead>
    <tr>
        <td colspan="{{colspan}}" class="controls form-search">
            <label>
                Search
       <input ng-model="query" type="text" value="" class="search_field input-medium search-query"/>
            </label> </td>
    </tr>
    <tr>
        <th>Name*</th>
        <th>Title</th>
        <th colspan="{{colspan - 2 }}">&nbsp;</th>
    </tr>
    </thead>

    <tbody ng-repeat="wizard in wizards | filter: query ">
    <tr>
        <td><b>{{ wizard.name }}</b></td>
        <td><b>{{ wizard.title }}</b></td>

        <td >
            <button class="btn" ng-click="edit_wizard(wizard)"><i class="icon-edit"></i> Edit</button>

            <button class="btn" ng-click="delete_wizard(wizard)"><i class="icon-trash"></i> Delete
            </button>

            <button class="btn" ng-click="preview(wizard)"><i class="icon-search"></i> View
            </button>

            <button class="btn" ng-click="publish(wizard)"><i class="icon-circle-arrow-right"></i> Create Controller
            </button>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="{{ colspan -1}}">{{wizard.notes }}</td></tr>
    <tr>

        <td colspan="{{ colspan }}" style="padding-left: 3em">
            <fieldset><legend>Steps</legend>
            <table class="table table-condensed" width="100%">
                <thead>
                <tr>
                    <th>Name*</th>
                    <th>Title</th>
                    <th>
                        <button class="btn" ng-click="seq_order(wizard)">
                            <i class="icon-align-justify"></i>
                             Order
                        </button></th>
                    <td>
                        <button class="btn btn-primary" ng-click="add_step(wizard)">
                            <i class="icon-plus"></i>
                            Add Step
                        </button>
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="step in wizard_steps(wizard) | orderBy: 'order'">
                    <td>{{ step.name }}</td>
                    <td><b>{{ step.title }}</b></td>

                    <td style="padding:0px"><input type="text" ng-model="step.order" style="width: 2em; margin: 0px"
                                                   ng-change=save_step(step)/></td>
                    <td>
                        <button class="btn" ng-click="change_step(step, wizard)">
                            <i class="icon-edit"></i> Edit
                        </button>

                        <button class="btn" ng-click="delete_step(step)">
                            <i class="icon-trash"></i> Delete
                        </button>
                    </td>

                </tr>
                </tbody>
            </table></fieldset>
        </td>
    </tr>
    </tbody>
    <tfoot>

    <tr>
        <td colspan="{{colspan}}" class="controls">
            <button class="btn btn-primary" type="submit" ng-click="add_wizard()">Add Wizard</button>
        </td>
    </tr>
    </tfoot>
</table>
</div>
</div>

</div>
<script type="text/ng-template" id="new_step_template">
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Add Step for Wizard &quot;{{ new_step_wizard.title }}&quot;</h3>
        </div>

    <div class="modal-body" style="max-height: 600px">
        <form class="form" id="new_step_form">
            <table class="table" width="100%">
                <tr>
                    <th><label>Title</label></th>
                    <td><input type="text" name="title" ng-model="new_step.title" class="input-large"/></td>

                    <th><label>Breadcrumb Title</label></th>
                    <td><input type="text" name="bc_title" ng-model="new_step.bc_title" class="input-large"/></td>
                </tr>

                <tr>
                    <th><label>Name</label></th>
                    <td><input type="text" name="title" ng-model="new_step.name" class="input-large"/></td>

                    <th><label>Description</label></th>
                    <td rowspan="2"><textarea rows="4"  name="notes" class="input-xlarge" ng-model="new_step.notes"></textarea>
                    </td>
                </tr>


                <tr>
                    <th><label>Content Type</label></th>
                    <td colspan="2">
                        <label style="display: inline-block; width: 5em" class="radio" ><input type="radio"
                                                                                ng-model="new_step.content_type"
                                                                                ng-change="new_step_content_change(new_step.content_type)"
                                                                                value="text"/>Text</label>
                        <label style="display: inline-block; width: 5em" class="radio" ><input type="radio"
                                                                                ng-model="new_step.content_type"
                                                                                value="html"/>HTML</label>
                        <label style="display: inline-block; width: 5em" class="radio" ><input type="radio"
                                                                                ng-model="new_step.content_type"
                                                                                value="json"/>JSON</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label style="width: auto; color: black; text-align: left">
                            <input type="checkbox" ng_model="new_step_content_html_checked" value="1"
                                   ng-change="html_editor('new_step_content', new_step)"/>
                            HTML editor (CKeditor)</label>
                        <textarea rows="4"  name="content" id="new_step_content" class="input-xxlarge"
                                  ng-model="new_step.content"></textarea>
                        <textarea rows="4"  name="content" id="new_step_content_html" class="input-xxlarge"
                                  style="display: none;"></textarea>
                        <br/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn" ng-click="close_dlog('new_step')">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="create_step(new_step)">Add Step</button>
    </div>

</script>

<script type="text/ng-template" id="publish_wizard_template">
    <figure>
        <h1>Publish Wizard as a Controller</h1>

        <p>Your wizard will be expressed as a controller. Note that this can be destructive if executed more than once.
            If you want to "revise" a previously published wizard, change the wizard name and do your surgery
            later. </p>


        <form class="dialog_form">
            <table>
                <tr>
                    <th><label>Destination component</label></th>
                    <td><select name="component" ng:model="export_component">
                        <option ng-repeat="com in coms" value="{{com.name }}">{{ com.name }}</option>
                    </select></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button ng-click="export_wizard()" type="submit">Export Wizard</button>
                    <button ng-click="publish_wizard_show = false">Cancel</button>

                    </td>
                </tr>
            </table>
        </form>
    </figure>

</script>

<script type="text/ng-template" id="edit_step_template">
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Edit Step for Wizard &quot;{{ edit_step_wizard.title }}&quot;</h3>
        </div>

    <div class="modal-body" style="max-height: 600px">

        <form class="form" id="edit_step_form">
            <table class="table">
                <tr>
                    <th><label>Title</label></th>
                    <td><input type="text" name="title" ng-model="edit_step.title" class="input-large"/></td>

                    <th><label>Breadcrumb Title</label></th>
                    <td><input type="text" name="bc_title" ng-model="edit_step.bc_title" class="input-large"/></td>
                </tr>

                <tr>
                    <th><label>Name</label></th>
                    <td><input type="text" name="title" ng-model="edit_step.name" class="input-large"/></td>

                    <th><label>Description</label></th>
                    <td rowspan="2"><textarea rows="4"  name="notes" class="input-xlarge" ng-model="edit_step.notes"></textarea>
                    </td>
                </tr>


                <tr>
                    <th><label>Content Type</label></th>
                    <td colspan="2">
                        <label style="display: inline-block; width: 5em" class="radio" ><input type="radio"
                                                                                ng-model="edit_step.content_type"
                                                                                value="text"/>Text</label>
                        <label style="display: inline-block; width: 5em" class="radio" ><input type="radio"
                                                                                ng-model="edit_step.content_type"
                                                                                value="html"/>HTML</label>
                        <label style="display: inline-block; width: 5em" class="radio" ><input type="radio"
                                                                                ng-model="edit_step.content_type"
                                                                                value="json"/>JSON</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label style="width: auto; color: black; text-align: left">
                            <input type="checkbox" ng_model="edit_step_content_html_checked" value="1"
                                   ng-change="html_editor('edit_step_content', edit_step)"/>
                            HTML editor (CKeditor)</label>
                        <textarea rows="4"  name="content_html" id="edit_step_content_html" class="input-xxlarge"
                                  style="display: none"></textarea>
                        <textarea rows="4"  name="content" id="edit_step_content" class="input-xxlarge"
                                  ng-model="edit_step.content"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="modal-footer" >

        <button class="btn" type="submit" ng-click="update_step(edit_step)">Update Step</button>
        <button class="btn btn-primary" type="reset" ng-click="close_dlog('edit_step')">Cancel</button>
    </div>

</script>
