<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><div class="divider">~</div></li>
    <li>Blog</li>
    <li><div class="divider">~</div></li>
    <li><a href="/blog_folder/<%= article.folder %>"><%= article.folder %></a></li>
</ul>
        <article>

<h1><% if (article.folder){ %><a href="/blog_folder/<%= article.folder %>"><%= article.folder %></a>: <% } %><%=
    article.title %>
 </h1>

<%- html %>
</article>
<div class="well">
    <dl>
        <dt>Revised</dt>
        <dd><%= article.revised %></dd>
        <% if (article.on_homepage || article.on_folder_homepgae){ %>
        <dt>Flagged</dt>
        <% if (article.on_homepage){ %>
        <dd>for home page</dd>
        <% } %>
        <% if (article.on_folder_homepage){ %>
        <dd>for folder home page</dd>
        <% } %>
        <% } %>
        <% if (article.hide) { %>
        <dt>Hidden</dt>
        <dd>true</dd>
        <% } %>
        <% if (article.tags && article.tags.length) { %>
        <dt>Tags</dt>
        <dd><% article.tags.forEach(function(tag){ %><%= tag %> <% }) %></dd>
        <% } %>
    </dl>

</div>

<% if (iCanEditArticle) {%>
<p><a href="<%= edit_link %>" class="btn btn-small">Edit</a></p>
        <% } %>
<link href="/js/blog/vendor/shjs-0.6/sh_style.min.css" rel="stylesheet"><link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
