<h1>Add an Article</h1>

<% if (errors){ %>
<div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Errors in form submisstion</h4>

    <dl>
        <% _.each(errors, function(error, field){ %>
        <dt><%= field %></dt>
        <dd><%= error %></dd>
        <% }) %>
    </dl>
</div>
<% } %>
<form class="form form-horizontal" action="/admin/blog/create" method="post">

    <div class="control-group <%= errors && errors.file_name ? ' error ' : '' %> row">
        <label class="control-label span2" for="file_name" style="">Name</label>

        <div class="span7">
            <input type="text" name="file_name" style="width: 100%" id="file_name" value="<%= title %>"
                   placeholder="Displayed title">
        </div>

        <div class="span3">
            <span class="help-inline"><%=  errors.file_name || '' %></span>
        </div>
    </div>

    <div class="control-group <%= errors && errors.title ? ' error ' : '' %> row">
        <label class="control-label span2" for="title" style="">Title</label>

        <div class="span7">
            <input type="text" name="title" style="width: 100%"  id="title" value="<%= title %>"
                   placeholder="Displayed title">
        </div>
        <div class="span3">
            <span class="help-inline"><%=  errors.title || '' %></span>
        </div>
    </div>

    <div class="control-group <%= errors && errors.intro ? ' error ' : '' %> row">
        <label class="control-label span2" for="intro" style="">Introduction</label>

        <div class="span7">
            <textarea style="width: 100%" rows="3" class="span10" id="intro" name="intro"
                      placeholder="Introduction for menus/table of contents"><%-
                intro %></textarea>
        </div>
        <div class="span3">
            <span class="help-inline"><%=  errors.intro || '' %></span>
        </div>
    </div>

    <div class="control-group <%= errors && errors.content ? ' error ' : '' %> row">
        <label class="control-label span2" for="content" style="">Content</label>

        <div class="span7">
            <textarea style="width: 100%" rows="20" class="span10" id="content" name="content"
                      placeholder="article - parsed by github markdown"><%-
                content %></textarea>
        </div>
        <div class="span3">
            <span class="help-inline"><%=  errors.content || '' %></span>
        </div>
    </div>

    <h2>Metadata</h2>

    <div class="control-group <%= errors && errors.tags ? ' error ' : '' %> row">
        <label class="control-label span2" for="tags" style="">Tags</label>

        <div class="span7">
            <input type="text" name="tags"  style="width: 100%"  id="tags" value="<%= title %>"
                   placeholder="Displayed title">
        </div>

        <div class="span3">
            <span class="help-inline"><%=  errors.tags || '' %></span>
        </div>
    </div>


    <div class="control-group row">
        <label class="control-label span2" for="tags" style="">Settings</label>


        <div class="span3">
            <label class="checkbox">
                <input type="checkbox" value="1" name="on_homepage"/> Show on home page
            </label>
        </div>

        <div class="span3">

            <label class="checkbox">
                <input type="checkbox" value="1" name="hide"/> Hide article (work in progress)
            </label>

        </div>

        <div class="span4">
            <label>In Folder
                <%- article_folder_select('folder') %></label>
        </div>
    </div>

    <div class="row">
        <div class="span5">

        </div>

        <div class="span7">
            <button class="btn btn-primary" type="submit">Add Article</button>
        </div>
    </div>
</form>

<h1>Preview</h1>
<div class="well">

    <div id="preview">

    </div>
</div>

<script language="javascript" src="/js/blog/admin/create/marked.js"></script>
<script language="javascript" defer="defer" src="/js/blog/admin/create/create.js">
</script>