<div ng-app="articles" xmlns="http://www.w3.org/1999/html">

    <div ng-controller="ArticlesCtrl">
        <h1>Wiki Article</h1>

        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>
                    Scope
                </th>
                <th>
                    Name
                </th>
                <th>
                    Title
                </th>
                <th>
                    Creator
                </th>
                <th>Linked From</th>
                <th>Link To</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in articles | orderBy: 'name'">
                <td ng-bind-html-unsafe=" article | article_scope "></td>
                <td ng-bind-html-unsafe=" article | article_name "></td>
                <td>{{article.title }}</td>
                <td>{{ article.creator.member_name }}</td>
                <td><div ng-repeat="art in article.linked_from">{{art.name}}</div></td>
                <td><div ng-repeat="art in article.link_to">{{art.name}}</div></td>
                <td nowrap="nowrap">
                    <button class="btn btn-small nomargin" ng-click="view_article(article)">
                        <i class="icon-search"></i> View</button>
                </td>
                <td nowrap="nowrap">
                    <button class="btn btn-small nomargin" ng-click="edit_article(article)">
                        <i class="icon-edit"></i> Edit</button>
                </td>
                <td nowrap="nowrap">
                    <button class="btn btn-small btn-danger nomargin" ng-show="!article.scope_root" ng-click="delete_article(article)">
                        <i class="icon-trash"></i> Delete</button>
                </td>
            </tr>
            </tbody>
        </table>

        <button class="btn btn-primary" ng-click="add_article()" >Add Article</button>
        <button class="btn" ng-click="update_links()" >Update Links</button>
    </div>
</div>

<style>
    .nomargin {
        margin: 0px;
        marign-top: 0px;
        margin-bottom: 0px;
        line-height: 100%;
    }
</style>