<h3>Noogle File State</h3>


<span><b>Parsed</b>:
   <%= stats.parsed %></span>
<span style="float: right; width: 8em">
    <b>Files</b>:
<%= stats.files %></span>

<div class="progress">
    <div class="bar" style="width: <%= Math.floor(100 * stats.parsed / stats.files) %>%;"></div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Domain</th>
        <th>File</th>
        <th>Parsed</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <% files.forEach(function(file, i){ %>
    <tr>
        <td><%= file.domain %></td>
        <td><%= file.file %></td>
        <td><%= (file.parsed ? 'parsed' : '&nbsp;') %></td>
        <td><%= file.state %></td>
    </tr>

    <% }) %>

    </tbody>


</table>