
.idea/workspace.xml

*.xml

.idea/workspace.xml

.idea/workspace.xml

*.log
/logs/nuby_express.log
/.idea/vcs.xml
/.idea/misc.xml
/app/components/com_noogle/vendor/elasticsearch-0.19.9/logs/
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/node.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/4/index/write.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/4/_state/state-6
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/4/_state/state-2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/write.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/_state/state-6
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/_state/state-2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/write.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/_state/state-6
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/_state/state-2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/1/index/write.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/1/_state/state-6
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/1/_state/state-2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/0/index/write.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/0/_state/state-6
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/0/_state/state-2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/noogle/
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/_state/global-3
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/_state/global-1
/app/components/com_noogle/chat_files/
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/_state/state-3
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/4/translog/translog-1346703038646
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/4/index/segments_1
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/4/index/segments.gen
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/4/index/_checksums-1346703038650
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/translog/translog-1346703038609
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/segments_2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/segments.gen
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_checksums-1346704839130
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_1.tis
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_1.tii
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_1.prx
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_1.nrm
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_1.frq
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_1.fnm
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_1.fdx
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_1.fdt
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_0.tis
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_0.tii
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_0.prx
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_0.nrm
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_0.frq
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_0.fnm
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_0.fdx
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/_0.fdt
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/translog/translog-1346703038567
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/segments_2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/segments.gen
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/_checksums-1346704839122
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/_0.tis
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/_0.tii
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/_0.prx
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/_0.nrm
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/_0.frq
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/_0.fnm
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/_0.fdx
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/_0.fdt
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/1/translog/translog-1346703038534
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/1/index/segments_1
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/1/index/segments.gen
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/1/index/_checksums-1346703038535
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/0/translog/translog-1346703038505
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/0/index/segments_1
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/0/index/segments.gen
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/0/index/_checksums-1346703038509
.DS_Store
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/