/.idea/
.idea/workspace.xml
*.xml
*.log
/node_modules
.DS_Store

/frames/blog/articles/
/frames/admin/layouts/admin/static/img/monkeywrench400.pxm
/frames/admin/layouts/admin/static/img/monkeywrench50.png
/frames/admin/layouts/admin/static/img/monkeywrench.png
/frames/blog/images/
/frames/blog/node_modules/
/frames/blog/hives/images/