<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=1024" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title></title>

        <link rel="shortcut icon" href="favicon.png" />
        <link rel="apple-touch-icon" href="apple-touch-icon.png" />

        <!-- Stylesheets -->
        <%- partial("css.html", css) %>

        <!-- Scripts -->
        <%- partial("js.html", javascript_head) %>

        <script type="text/javascript">
            $(function () {
                function _set_side_dimensions() {
                    var width = $(window).width();
                    var height = $(window).height();
                    var def = {
                        width: width
                    };
                    jss('.slide', def);
                    console.log('def: ', def);
                };

                $(window).resize(_set_side_dimensions)
                _set_side_dimensions();
            })
        </script>
    </head>
    <body>


    <div class="fallback-message">
        <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
        <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
    </div>
        <div id="impress">
<%- body %>
    </div>
    <!-- Scripts -->
    <%- partial("js.html", javascript) %>
    </body>
</html>