</section>
<section class="footer">


<% if (step == "intro"){ %>
<button name="next" value="next" class="next">Next
<span>to &quot;Index Data Files&quot;</span>
</button>
<% } %>
    <% if (step == "index_data_files"){ %>
    <button name="prev" value="prev" class="prev">Back
    <span>to &quot;Introduction&quot;</span>
    </button>
    <% } %>
    <% if (step == "index_data_files"){ %>
    <button name="next" value="next" class="next">Next
    <span>to &quot;Scan Data Files&quot;</span>
    </button>
    <% } %>
    <% if (step == "scan_data_files"){ %>
    <button name="prev" value="prev" class="prev">Back
    <span>to &quot;Index Data Files&quot;</span>
    </button>
    <% } %>
    <% if (step == "scan_data_files"){ %>
    <button name="next" value="next" class="next">Next
    <span>to &quot;Test Search&quot;</span>
    </button>
    <% } %>
<% if (step == "test_search"){ %>
<button name="prev" value="prev" class="prev">Back
<span>to &quot;Scan Data Files&quot;</span>
</button>
<% } %>

</section>
