<% steps = [
    {
        "title": "Introduction",
        "content_type": "html",
        "bc_title": "Intro",
        "name": "intro",
        "wizard": "504521cc26b9fddc0a000001",
        "order": 1,
        "_id": "50452b98080096d801000001",
        "__v": 0
    },
{
    "title": "Index Data Files",
    "content_type": "html",
    "bc_title": "Index",
    "name": "index_data_files",
    "wizard": "504521cc26b9fddc0a000001",
    "order": 2,
    "_id": "5045408ef1b5a23503000001",
    "__v": 0
},
{
    "title": "Scan Data Files",
    "content_type": "html",
    "bc_title": "Index",
    "name": "index_data_files",
    "wizard": "504521cc26b9fddc0a000001",
    "order": 3,
    "_id": "5045408ef1b5a23503000001",
    "__v": 0
},
    {
        "__v": 0,
        "_id": "5045de97f1b5a23503000002",
        "bc_title": "Search",
        "content_type": "html",
        "name": "test_search",
        "order": 4,
        "title": "Test Search",
        "wizard": "504521cc26b9fddc0a000001"
    }
];var current_step = false;for (var i = 0; (!current_step) && (i < steps.length); ++i){if (steps[i].name == step) current_step = steps[i];} %>
<section class="header">
    <ul class="clearfix"><% steps.forEach(function(header_step){%>
<% if (header_step.order < current_step.order){ %>
<li class="done" id="header_step_<%= step %>">
<% } else if (header_step.order == current_step.order){ %>
<li class="current">
<% } else { %>
<li class="future">
<% } // end step status
%><%= header_step.bc_title %>
</li>
<% }) // end iterator
%>
</ul></section>
    <section class="wizard_main">