<h1>Edit Article <%= article.folder ? article.folder + ':' : '' %>&quot;<%= article.title %>&quot;</h1>

<div ng-app="article">
    <%- helpers.article.editor(this) %>
</div>

<script language="javascript">

    $(function(){

        var folder_path = _.template('/blog/<' + '%= folder %' + '>/<' + '%= file_name %' + '>');
        var file_path = _.template('/blog/<' + '%= file_name %' + '>');

        var scope = angular.element('#article_editor').scope();
        console.log('scope', scope);
        scope.get_article({
             file_name: '<%= article.file_name %>'
            , folder: '<%= article.folder || '' %>' });
        scope.overwrite = true;
        scope.$apply();

       scope.$on('saved_article', function(context, article){
          console.log('article: ', article);
           var loc;
           if (article.folder){
                loc = folder_path(article)
           } else {
                loc = file_path(article)
           }
           console.log('loc: %s', loc);
            document.location = loc;
       } )
    })

</script>