
.step {
    width: 100%;
    position: relative;
}
.step:not(.active) {
    opacity: 1;
    filter: alpha(opacity=99);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.step:not(.active) a.jms-link{
    opacity: 1;
    margin-top: 40px;
}

.step h1 {
    color: white;
}