.slide header {
    position: absolute;
    top: -0.8em;
    padding: 0px;
    margin: 0px;
    z-index: 100;
}

.slide header div {
    font-size: 50%;
    line-height: 110%;
    display: block;
    float: left;
    position: relative;
    padding: 0.3em;
    margin: 0px 0.5em;
}
.slide header div:hover {
    background: rgb(233, 223, 189);
}

.slide header div a {
    text-decoration: none;
    color: #833f32;
    line-height: 0.5em;
    font-weight: bold;
    padding: 0em;
    margin: 0em;
}


.slide header div nav {
    position: absolute; top: 2em;
    display: block;
    z-index: 1000;
}
.slide header div nav div {
    font-size: 100%;
    display: block;
    position: relative;
    width: 10em;
    top: 0px;
    padding: 0.5em
}
.slide_menu nav a {
    display: block;
}