<link rel="stylesheet" type="text/css" href="/js/blog_folders/vendor/angular/ng-grid.min.css"/>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><div class="divider">~</div></li>
    <li>Blog</li>
    <li><div class="divider">~</div></li>
    <li class="active"><%= folder %></li>
</ul>


<div ng-app="home">

    <div ng-controller="ArticleCtrl" id="article_list">
        <h1><%= folder %> Articles</h1>
        <div class="navbar">
            <div class="navbar-inner visible-desktop">
                <a class="brand" href="#">View</a>
                <ul class="nav">
                    <li ng-class="nav_class('cards')"><a ng-click="set_nav_mode('cards')">Cards</a></li>
                    <li ng-class="nav_class('list')"><a ng-click="set_nav_mode('list')">List</a></li>
                    <li class="dropdown" ng-hide="true">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tag
                            ({{ tag_filter || 'all' }}) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Tags</li>
                            <li><a ng-click="clear_tag_filter()">(all)</a></li>
                            <li ng-repeat="tag in tags()">
                                <a ng-click="set_tag_filter(tag)">{{ tag }}</a></li>
                        </ul>
                    </li>
                    <li ng-hide="true">
                        <button class="btn" ng-click="clear_filters()">View All</button>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-switch="view">
            <section class="homepage-articles" ng-switch-when="cards">
                <article ng-repeat="article in grid_articles" ng-click="go(article)">
                    <h3>{{article.title}}</h3>

                    <p>{{ article.intro }}</p>

                    <p class="footer">
                 <span class="label" style="margin-right: 0.5em" ng-repeat="tag in article.tags"
                       ng-click="set_tag_filter(tag)">{{tag}} </span>
                        <time class="revised">{{
                            article.revised | date:'shortDate'
                            }}
                        </time>
                    </p>
                </article>
            </section>

            <section class="homepage-articles-grid" ng-switch-when="list">
                <div ng-grid="gridOptions" style="height: 300px"></div>
            </section>

            <section ng-hide="get_articles().length">
                No articles to display.
                <button class="btn" ng-click="clear_filters()">Clear your filters</button>
            </section>

            {{ $errors | json }}
        </div>
    </div>
</div>

<%- html %>

<script language="javascript">
    $(function () {
        var scope = angular.element('#article_list').scope();
        scope.folder_filter='<%= folder %>';
        scope._apply();
    });
</script>

