/* Start: Recommended Isotope styles */

.sidebar-nav {
  background-color: white;
  font-size: 90%;
  .nav-header {
    color: #966;
  }
  .nav-list {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    li {
      line-height: 120%;
    }
  }
  border: none;
}

/**** Base styles ****/


  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  p, ul, ol, pre, dl {
    margin-bottom: 0.5em;
    line-height: 110%;
  }

  h1, h2, #super-list, .element, .tagline, #index-list,
  .super-list .link {
  }

  h1 {
    font-size: 400%;
    font-family: Populaire, 'Helvetica Neue', Arial, sans-serif;
    padding: 0.25em 0em;
  }

  h2 {
    font-size: 250%;
  }

  ul, ol {
    margin-left: 1.5em;
  }

  a,
  a code {
    text-decoration: none;
  }

  a:hover {
    color: red;
  }

  a:active {
    color: black;
  }

  a img {
    border: none;
  }

  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }

  blockquote {
    padding-left: 1.0em;
    margin-left: 1.0em;
    border-left: 1px solid #333;
    font-style: italic;
  }

  #container {
    padding: 5px;
    margin-bottom: 20px;

  }
    .tweet {
      width: 30px;
      margin: 0px;
      float: left;
      background-color: white;
      color: black;
      padding: 0px;
      height: 30px;
      vertical-align: center;

        font-size: 200%;
        line-height: 100%;
        padding: 0em;
        margin: 0em;
        font-family: Populaire;
        font-weight: normal;
        a {
          color: rgb(50, 0, 150);
        }
    }
  /*
  .tweet:nth-child(odd){
    background-color: black;
    color: white;
  } */

    .tweet.col2 {
      width: 60px;
    }
    .tweet.col3 {
      width: 90px;
    }
    .tweet.col4 {
      width: 120px;
    }
  .tweet.col5 {
    width: 150px;
  }
  .tweet.col6 {
    width: 180px;
  }
  .tweet.col7 {
    width: 210px;
  }
  .tweet.col8 {
    width: 240px;
  }
  .tweet.col9{
    width: 270px;
  }
  .tweet.col10 {
    width: 300px;
  }
  .tweet.col11 {
    width: 330px;
  }
  .tweet.col12 {
    width: 360px;
  }
  .tweet.col13 {
    width: 390px;
  }
  .tweet.col14 {
    width: 420px;
  }
  .tweet.col15 {
    width: 450px;
  }
  .tweet.col16 {
    width: 480px;
  }
  .tweet.col17 {
    width: 510px;
  }
  .tweet.col18 {
    width: 540px;
  }

    .tweet.sm {
      width: 40px;
    }

/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    zoom: 1;
  }

