.drawing_item {
    display: inline-block;
    width: 25%;
    min-width: 150px;
    font-size: 66%;
}

.drawing_item canvas {
    width: 160px;
    height: 120px;
    background-color: white;
    border: 1px solid red;
}