.PopulaireLight {
    font-family: PopulaireLight;
    font-weight: normal;
    font-style: normal;
}
.Populaire {
    font-family: Populaire;
    font-weight: normal;
    font-style: normal;
}
.NexaHeavy {
    font-family: NexaHeavy;
    font-weight: normal;
    font-style: normal;
}
.Nexa-Bold-Italic {
    font-family: Nexa-Bold-Italic;
    font-weight: normal;
    font-style: normal;
}
.NexaRegular {
    font-family: NexaRegular;
    font-weight: normal;
    font-style: normal;
}
.Nexa-Bold {
    font-family: Nexa-Bold;
    font-weight: normal;
    font-style: normal;
}
.Nexa-Regular-Italic {
    font-family: Nexa-Regular-Italic;
    font-weight: normal;
    font-style: normal;
}

.wiki_body, .wiki_link_footer {
    font-size: 115%;
}
.wiki_body p, .wiki_body li {
    margin-right: 2em;
}

.wiki_body li p {
    margin: 0em;
    padding: 0em;
}

.wiki_body b {
    font-weight: normal;
    font-family: Nexa-bold;
}

.wiki_body, .wiki_body p, .wiki_body li, .wiki_link_footer {
    line-height: 115%;
    font-family:xfco Geneva, Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Populaire, "Helvetica Narrow", "Arial Narrow", Arial, sans-serif;
    font-weight: normal;
    font-size: 300%;
    padding: 0.25em;
    margin: 0em;
    margin-bottom: 0.125em;

    -webkit-border-radius: 0px 0px 0px 10px;
    border-radius: 0px 0px 0px 10px;

    color: white;

    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}

h1 a {
    color: yellow;
}

h1 a:hover {
    color: yellow;
    text-decoration: underline;
}

.wiki_body h2, .wiki_body h3, .wiki_body h4 {
    font-family: NexaHeavy, Helvetica, Geneva, Arial, sans-serif;
    font-weight: normal;
    font-size: 150%;
    line-height: 110%;
}

.wiki_body h2 {
    padding: 0.25em;
    color: black;
    margin:0.75em 0em;
    padding-left: 1em;
    padding-top: 0.3em;
    display: block;
    line-height: 100%;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;

    background: rgb(245,246,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(255,255,255,1) 23%, rgba(245,246,246,1) 54%, rgba(221,223,227,1) 82%, rgba(168,168,168,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(23%,rgba(255,255,255,1)), color-stop(54%,rgba(245,246,246,1)), color-stop(82%,rgba(221,223,227,1)), color-stop(100%,rgba(168,168,168,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(255,255,255,1) 23%,rgba(245,246,246,1) 54%,rgba(221,223,227,1) 82%,rgba(168,168,168,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(255,255,255,1) 23%,rgba(245,246,246,1) 54%,rgba(221,223,227,1) 82%,rgba(168,168,168,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(255,255,255,1) 23%,rgba(245,246,246,1) 54%,rgba(221,223,227,1) 82%,rgba(168,168,168,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(255,255,255,1) 23%,rgba(245,246,246,1) 54%,rgba(221,223,227,1) 82%,rgba(168,168,168,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */


    -webkit-box-shadow: inset 0px -5px 10px -2px rgba(0, 0, 0, 0.5);

    box-shadow: inset 0px -5px 10px -2px rgba(0, 0, 0, 0.5);
}

.wiki_body h3 {
    padding: 0.25em;

    margin:0.75em 0em;
    padding-left: 1em;
    padding-top: 0.4em;
    display: block;
    line-height: 100%;

    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 23%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(23%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 23%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 23%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 23%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 23%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


    -webkit-box-shadow: inset 5px 5px 10px -2px rgba(0, 0, 0, 0.25);

    box-shadow: inset 5px 5px 10px -2px rgba(0, 0, 0, 0.25);
}

.grey {

    background: -moz-linear-gradient(top,  rgba(184,186,198,0.7) 0%, rgba(184,186,198,0.7) 1%, rgba(221,223,227,0.7) 20%, rgba(245,246,246,0.7) 54%, rgba(255,255,255,0.7) 77%, rgba(245,246,246,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,186,198,0.7)), color-stop(1%,rgba(184,186,198,0.7)), color-stop(20%,rgba(221,223,227,0.7)), color-stop(54%,rgba(245,246,246,0.7)), color-stop(77%,rgba(255,255,255,0.7)), color-stop(100%,rgba(245,246,246,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(184,186,198,0.7) 0%,rgba(184,186,198,0.7) 1%,rgba(221,223,227,0.7) 20%,rgba(245,246,246,0.7) 54%,rgba(255,255,255,0.7) 77%,rgba(245,246,246,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(184,186,198,0.7) 0%,rgba(184,186,198,0.7) 1%,rgba(221,223,227,0.7) 20%,rgba(245,246,246,0.7) 54%,rgba(255,255,255,0.7) 77%,rgba(245,246,246,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(184,186,198,0.7) 0%,rgba(184,186,198,0.7) 1%,rgba(221,223,227,0.7) 20%,rgba(245,246,246,0.7) 54%,rgba(255,255,255,0.7) 77%,rgba(245,246,246,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(184,186,198,0.7) 0%,rgba(184,186,198,0.7) 1%,rgba(221,223,227,0.7) 20%,rgba(245,246,246,0.7) 54%,rgba(255,255,255,0.7) 77%,rgba(245,246,246,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b8bac6', endColorstr='#b3f5f6f6',GradientType=0 ); /* IE6-9 */



}

.yellowBar {
    background: rgb(251,255,209); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(251,255,209,1) 0%, rgba(255,255,255,1) 20%, rgba(251,255,209,1) 21%, rgba(255,222,35,1) 86%, rgba(254,182,69,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,255,209,1)), color-stop(20%,rgba(255,255,255,1)), color-stop(21%,rgba(251,255,209,1)), color-stop(86%,rgba(255,222,35,1)), color-stop(100%,rgba(254,182,69,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(251,255,209,1) 0%,rgba(255,255,255,1) 20%,rgba(251,255,209,1) 21%,rgba(255,222,35,1) 86%,rgba(254,182,69,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(251,255,209,1) 0%,rgba(255,255,255,1) 20%,rgba(251,255,209,1) 21%,rgba(255,222,35,1) 86%,rgba(254,182,69,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(251,255,209,1) 0%,rgba(255,255,255,1) 20%,rgba(251,255,209,1) 21%,rgba(255,222,35,1) 86%,rgba(254,182,69,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(251,255,209,1) 0%,rgba(255,255,255,1) 20%,rgba(251,255,209,1) 21%,rgba(255,222,35,1) 86%,rgba(254,182,69,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbffd1', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */


}

.graybar {

    background: rgb(229,232,215); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(229,232,215,1) 0%, rgba(243,247,227,1) 26%, rgba(214,219,191,1) 90%, rgba(183,191,145,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,232,215,1)), color-stop(26%,rgba(243,247,227,1)), color-stop(90%,rgba(214,219,191,1)), color-stop(100%,rgba(183,191,145,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,232,215,1) 0%,rgba(243,247,227,1) 26%,rgba(214,219,191,1) 90%,rgba(183,191,145,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,232,215,1) 0%,rgba(243,247,227,1) 26%,rgba(214,219,191,1) 90%,rgba(183,191,145,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,232,215,1) 0%,rgba(243,247,227,1) 26%,rgba(214,219,191,1) 90%,rgba(183,191,145,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,232,215,1) 0%,rgba(243,247,227,1) 26%,rgba(214,219,191,1) 90%,rgba(183,191,145,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e8d7', endColorstr='#b7bf91',GradientType=0 ); /* IE6-9 */


}

.wiki_body h4 {
    color: grey;
}

.wiki_body a.wikilink {
    font-weight: bold;
    color: rgb(0,100, 150);
    border-bottom: 1px dotted rgb(0,150,255)
}

.content-row {
    margin-right: 2em;
}

.wiki_body a.wikilink:hover {
    text-decoration: none;
    color: rgb(255, 0,100);
    line-height: 100%;
}

code, pre {
    font-size: 100%;
}

.wiki_body pre code {
    color: black;
    font-family: Monaco, "Courier New", monospace;
    font-size: 100%;
}
.wiki_body code {
    border: none;
    display: inline;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    font-family: NexaRegular, Geneva, Helvetica, Arial, sans-serif;
    font-size: 100%;
}

.wiki_body hr {
    margin: 0.5em 0px;
}

.summary {
    margin-right: 2em;
    font-family: PopulaireLight;
    font-size: 200%;
}

.wiki_body .summary p {
    font-family: PopulaireLight;
    margin: 0px;
}

.wiki_body pre {
    background-color: white;
    margin: 2em;
    padding: 1em;
    font-family: monaco, "Courier New", Courier, sans-serif;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(200, 0, 200, 0.2);
    box-shadow: inset 0px 0px 20px 0px rgba(200, 0, 200, 0.2);

    border: none;

    background: -moz-linear-gradient(top,  rgba(214,177,224,0.25) 0%, rgba(214,177,224,0.15) 15%, rgba(214,177,224,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,177,224,0.25)), color-stop(15%,rgba(214,177,224,0.15)), color-stop(100%,rgba(214,177,224,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(214,177,224,0.25) 0%,rgba(214,177,224,0.15) 15%,rgba(214,177,224,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(214,177,224,0.25) 0%,rgba(214,177,224,0.15) 15%,rgba(214,177,224,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(214,177,224,0.25) 0%,rgba(214,177,224,0.15) 15%,rgba(214,177,224,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(214,177,224,0.25) 0%,rgba(214,177,224,0.15) 15%,rgba(214,177,224,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40d6b1e0', endColorstr='#00d6b1e0',GradientType=0 ); /* IE6-9 */


}


.wiki_link_footer {
    background-color: white;

    -webkit-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.25);

    border: none;

    background: -moz-linear-gradient(top,  rgba(30,87,153,0.25) 0%, rgba(44,102,165,0.15) 15%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0.25)), color-stop(15%,rgba(44,102,165,0.15)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0.25) 0%,rgba(44,102,165,0.15) 15%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,0.25) 0%,rgba(44,102,165,0.15) 15%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,0.25) 0%,rgba(44,102,165,0.15) 15%,rgba(125,185,232,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,0.25) 0%,rgba(44,102,165,0.15) 15%,rgba(125,185,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#401e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

}

.wiki_link_footer h2 {
    font-family: Populaire, Helvetica, Geneva, Arial, sans-serif;
    font-weight: normal;
    font-size: 250%;
    line-height: 110%;
}

article nav.well a {
    font-weight: bold;
}

article nav.well h2 {
    font-size: 110%;
    margin: 0px;
    padding: 0px;
    border: none
}




.scope_menu {
    background-color: transparent;
    border: none
}

.scope_menu li {
    list-style-type: none;
    padding: 0px;
    margin: 0.1em 0.125em;
}
.scope_menu a {
    display: inline-block;
    width: 20em
}
.scope_menu summary {
    display: inline-block;
}

.tag_items {
    margin: 1em;
    background-color: white;
    padding: 0em;
    border: none;
    font-size: 90%;

    background-color: white;

    -webkit-box-shadow: inset -10px -20px 60px -20px #CCC;

    box-shadow: inset -10px -20px 60px -20px #CCC;
}

.tag_items dt {
   margin: 0em 1em;
    margin-bottom: 0.1em;
    margin-top: 0.4em;
    padding: 0em;
    line-height: 110%

}
.tag_items dd {
    margin: 0em 1em;
    padding: 0em;
    font-size: 90%;
    line-height: 115%;
    color: rgb(100,100,100);
    margin-bottom: 0.5%
}

.tag_items p {
    padding: 0em;
    margin: 0em;
}

.tag_items h3 {
    margin: 0em;
    background-color: rgb(50, 80, 100);

    font-family: NexaBold, Geneva, Helvetica, Arial, sans-serif;
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    color: white;
    text-align: center;
    line-height: 100%;
    padding: 0.1em 0.125em;
    font-size: 125%;
    text-transform: uppercase;
}

.tag_items a, .scope_menu a{
    color: black;
    font-weight: bold;
}

.tag_items dl {
    margin: 0em;
}

.sidebar-nav .nav-header {
    color: rgb(92, 92, 92);
}

.sidebar-nav .nav-list {
    padding: 0px;
}

.sidebar-nav .nav-list > li > a,
.sidebar-nav .nav-list .nav-header {
    margin: 0px;
    padding: 0px;
    font-family: NexaRegular, Helvetica, Geneva, Arial, sans-serif;
}


.sidebar-nav .nav-list .nav-header {
    margin: 0.5em 0em;
    margin-left: 0.5em;
    font-weight: normal;
}

.container-fluid {
    padding: 0em;
}


footer {
    padding: 0em 3em;
}

.sidebar-nav {
    padding: 0.5em;
    background-color: rgba(227, 227, 227, 0.67);
    border: none;
    font-family: NexaRegular, Helvetica, Geneva, Arial, sans-serif;
    font-size: 90%;
}

.sidebar-nav a {
    font-weight: bold;
}

.sidebar-nav a:hover {
    background-color: rgba(100,0,200,0.125) !important;
    color: black;
}

.sidebar-nav li {
    line-height: 150%;
    padding: 0.25em 0em;
    margin-left: 0.5em;
}


.mono {
    white-space: pre;
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 85%;
}

.text_region {
    height: 12em;
    overflow: scroll;
    width: 95%;
    border: 1px solid rgb(153, 153, 153);
    display: block;
}

.content_region {
    height: 18em;
    overflow: scroll;
    width: 95%;
    border: 1px solid rgb(153, 153, 153);
    display: block;
}

@media (max-width: 767px) {
    .sidebar-nav ul {
        display: inline-block;
        width: 33%;
    }
}

.dl-horizontal dt {
    width: 25em;
}

.dl-horizontal dd p {
    padding-left: 2em
}

@media (min-width: 767px) {

    .sidebar-nav {
        background-color: white;
        background-repeat: repeat-y;
        background-position: right;
        -webkit-box-shadow: inset -5px 2px 20px 0px rgba(0, 0, 0, 0.125);
        box-shadow: inset -5px 2px 20px 0px rgba(0, 0, 0, 0.125);
    }

    .sidebar-nav li {
        font-size: 90%;
        line-height: 110%;
    }

}

/* **************** FIXES TO BUTTON PRIMARY HOVER ********************* */

.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin: 5px 5px 6px;
    line-height: 18px;
}

.btn-primary,
.btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-primary:active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    background-color: #0074cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0088cc', endColorstr = '#0055cc', GradientType = 0);
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #0055cc;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #004099;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/ne_bs_wiki/img/glyphicons-halflings.png");
    background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/active states of certain elements */

.icon-white,
.btn-primary > [class^="icon-"],
.btn-primary > [class*=" icon-"],
.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
    background-image: url("/ne_bs_wiki/img/glyphicons-halflings-white.png");
}