<script language="javascript">
    var page_article = <%- JSON.stringify(article_json) %>;
</script>
<% if (article.scope_root){ %>
<script language="javascript">

    function new_article(scope) {
        var a_name = window.prompt('New Article in ' + scope, 'new_article');
        if (/[_\w]{3,}/.test(a_name)) {
            document.location = '/wiki/' + scope + '/' + a_name + '/new';
        }
    }

</script>

<h1><%= article.title %>: home
    <% if (can_create){ %>
    <button class="btn pull-right"
            onclick="new_article('<%= article.scope %>')"
            ><i class="icon-plus"></i> Add Article to this Scope
    </button>
    <% } %>
    <button class="btn pull-right"
            onclick="document.location='/wiki/se/<%= article.scope %>'; return false"
            ><i class="icon-pencil"></i> Edit Scope Home Article
    </button>
</h1>
<% } else { %>
<h1><a href="/wiki/s/<%- article.scope %>"><%= article.scope %></a>: <%= article.title %>
    <button class="btn pull-right"
            onclick="document.location='/wiki/ae/<%= article.scope %>/<%= article.name %>'; return false"
            ><i class="icon-pencil"></i> Edit Article
    </button>
</h1>
<% } %>

<%- helpers.flash() %>
<article class="wiki_body" style="display: none">
    <div class="summary">

    </div>
    <hr/>
    <div class="content">

    </div>
</article>
<% if (links_to && links_to.length){ %>
<nav  class="well wiki_link_footer">
    <h2>Links to this article</h2>
    <ul>
        <% links_to.forEach(function(a){ %>
        <li><a href="/wiki/a/<%- a.scope %>/<%- a.name %>"><%- a.title %></a></li>
        <% }) %>
    </ul>
</nav>
<% } %>
<script type="text/javascript" language="javascript"
        src="/js/wiki/wiki.js?scope=<%= article.scope %>">
</script>
<script type="text/javascript" language="javascript">
    $(function () {

        $.get('/wiki/article_rest/' + page_article.scope + '/' + page_article.name, function(article_data){

            var hcount = 0;

            wiki(article_data.summary, article_data, function (err, txt) {
                $('article .summary').html(txt);
                show_article();
            })

            wiki(article_data.content, article_data,  function (err, txt) {
                $('article .content').html(txt);
                show_article();
            })

            function show_article() {
                if (++hcount > 1) {
                    $('article').show();
                }
            }
        })

    })

</script>