</section>
<section class="footer">
    <% if (step == "unix_username"){ %>
    <button type="submit" class="next" name="next">Next
        <span>to &quot;Facebook App Configuration&quot;</span>
    </button>
    <% } %>
    <% if (step == "facebook_app"){ %>
    <button type="submit" class="prev" name="prev">Back
        <span>to &quot;Unix Username&quot;</span>
    </button>
    <button type="submit" class="next" name="next">Next
        <span>to &quot;Facebook App Test&quot;</span>
    </button>
    <% } %>
    <% if (step == "facebook_app_test"){ %>
    <button type="submit" class="prev" name="prev">Back
        <span>to &quot;Facebook App Configuration&quot;</span>
    </button>

    <button type="submit" class="next" name="next">Next
        <span>to &quot;Admin Member&quot;</span>
    </button>
    <% } %>
    <% if (step == "admin_member"){ %>
    <button type="submit" class="prev" name="prev">Back
        <span>to &quot;Facebook App Test&quot;</span>
    </button>

    <button type="submit" class="next" name="next">Next
        <span>to &quot;You are done!&quot;</span>
    </button>
    <% } %>
    <% if (step == "confirm"){ %>
    <button type="submit" class="prev" name="prev">Start Over
    </button>

    <button type="submit" class="next" name="next">Save Settings
        <span>to &quot;You are done!&quot;</span>
    </button>
    <% } %>
    <% if (step == "done"){ %>
    <button type="submit" class="prev" name="prev">Start Over
        <span>to &quot;Admin Member&quot;</span>
    </button>
    <button type="submit" class="next" name="next">Done
        <span>to &quot;You are done!&quot;</span>
    </button>
    <% } %>
</section>
<p>
    <small>the information above is not saved until the final step</small>
</p>