<% steps = [
    {
        "__v": 0,
        "_id": "503aac34c60a570000000026",
        "bc_title": "Unix User",
        "content_type": "html",
        "name": "unix_username",
        "order": 1,
        "title": "Unix Username",
        "wizard": "5036c756aff35fabca00002a"
    },
    {
        "_id": "5036ddc3aff35fabca000043",
        "bc_title": "Facebook App",
        "content_type": "html",
        "name": "facebook_app",
        "order": 2,
        "title": "Facebook App Configuration",
        "wizard": "5036c756aff35fabca00002a"
    },
    {
        "_id": "5036de13aff35fabca000044",
        "bc_title": "Facebook App",
        "content_type": "text",
        "name": "facebook_app_test",
        "order": 3,
        "title": "Facebook App Test",
        "wizard": "5036c756aff35fabca00002a"
    },
{
"_id": "5036e00faff35fabca000046",
"bc_title": "Admin Member",
"content_type": "html",
"name": "admin_member",
"order": 4,
"title": "Admin Member",
"wizard": "5036c756aff35fabca00002a"
},
{
"_id": "5036e00faff35fabca000046",
"bc_title": "Confirm",
"content_type": "html",
"name": "confirm",
"order": 5,
"title": "Confirm Site Settings",
"wizard": "5036c756aff35fabca00002a"
},
    {
        "title": "You are done!",
        "content_type": "text",
        "bc_title": "Complete",
        "name": "done",
        "wizard": "5036c756aff35fabca00002a",
        "order": 6,
        "_id": "5036e0b6aff35fabca000047"
    }
];var current_step = false;for (var i = 0; (!current_step) && (i < steps.length); ++i){if (steps[i].name == step) current_step = steps[i];} %>
<section class="header">
    <ul class="clearfix"><% steps.forEach(function(header_step){%>
<% if (header_step.order < current_step.order){ %>
<li class="done" id="header_step_<%= step %>">
<% } else if (header_step.order == current_step.order){ %>
<li class="current">
<% } else { %>
<li class="future">
<% } // end step status 
%><%= header_step.bc_title %>
</li>
<% }) // end iterator 
%>
</ul></section>
    <section class="wizard_main">