<div ng-app="slides">
    <div ng-controller="SlideCtrl">
        <div class="well" ng-show="current_slideshow">
            <div class="close" ng-click="view(false)">&times;</div>
            <h1>Slideshow &quot;{{ current_slideshow.title }}&quot;</h1>
            <blockquote>
                {{current_slideshow.notes }}
            </blockquote>
            <h3>Slides</h3>

            <div  style="max-height: 250px; overflow: scroll">

                <table class="table table-condensed editable" style="width: 95%">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Title</th>
                        <th>Parent</th>
                        <th>Weight</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="slide in ordered_slides()">
                        <td><input type="checkbox" ng-model="slide.checked" /></td>
                        <td><input ng-model="slide.title" type="text" /><div ng-show="slide.hide_title">(hidden)</div>
                            <div ng-show="slide.notes"><small>{{slide.notes }}</small></div></td>
                        <td nowrap="nowrap">{{ parent_title(slide) }} <span ng-show="slide.parent"
ng-click="unparent(slide)">&times;</span></td>
                        <td><input ng-model="slide.weight" size="4" type="text" class="input input-small" /></td>
                        <td>
                            <button class="btn nomargin" ng-click="edit_slide(slide)"><i
                                    class="icon icon-edit"></i> Edit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger nomargin" ng-click="delete_slide(slide)"><i
                                    class="icon icon-trash"></i> Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Title</th>
                        <th>Parent</th>
                        <th>Weight</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <button class="btn" ng-click="parent_slides()"><i class="icon-list"></i> Parent slides to
            </button>
            <select ng-model="parent_to" ng_options="s.title for s in parentable_slides()">
            </select> ({{parent_to.title }})

            <button class="btn btn-primary pull-right" ng-click="add_slide()"><i
                    class="icon icon-plus-sign"></i>
                Add Slide
            </button>

        </div>

        <h1>Slideshows</h1>

        <table class="table">
            <tr ng-repeat="ss in slideshows">
                <td>
                    {{ ss.title }}
                </td>
                <td>
                    <button class="btn btn-small" style="margin: 0px"
                            ng-click="edit_slides(ss)">Edit Slides
                    </button>
                </td>
                <td>
                    <button class="btn btn-small" style="margin: 0px"
                            ng-click="view_slideshow(ss)">View
                    </button>
                </td>
                <td>
                    <button class="btn btn-small" style="margin: 0px"
                            ng-click="export_slideshow(ss)">Export
                    </button>
                </td>
                <td>
                    <button class="btn btn-small" style="margin: 0px"
                            onClick="document.location='/admin/slideshow/{{ ss._id }}/edit'"><i
                            class="icon icon-edit"></i> Edit
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-small" style="margin: 0px"
                            ng-click="delete_slideshow(ss)"><i
                            class="icon icon-trash"></i>Delete
                    </button>
                </td>
            </tr>
        </table>

        <!-- Modal - new slide -->
        <div class="modal bigModal" id="newSlide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true"
             style="display: none">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Add Slide to {{ current_slideshow.title }}</h3>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td><label>Title</label></td>
                        <td><input type="text" ng-model="new_slide.title" class="input input-xlarge"/></td>

                        <td><label>Notes</label></td>
                        <td><textarea ng-model="new_slide.notes" class="input input-xlarge" rows="2"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <h3><Content></Content></h3>
                            <textarea ng-model="new_slide.content" id="new_slide_content" rows="5"
                                      class="input input-xxlarge">{{ new_slide.content}}</textarea>
                            <label><input type="checkbox" ng-model="new_slide.markdown" />
                                Use Markdown</label>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" data-target="newSlide" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" ng-click="save_new_slide()">Add Slide</button>
            </div>
        </div>


        <!-- Modal - edit slide -->
        <div class="modal bigModal" id="editSlide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true"
             style="display: none">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Edit slide &quot;{{current_slide.title}}&quot;
                    </h3>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td><label>Title</label></td>
                        <td><input type="text" ng-model="current_slide.title" class="input input-xlarge"/><input type="checkbox" ng-model="current_slide.hide_title" />&nbsp;Hide</td>
                        </tr>
                    <tr>
                        <td><label>Notes</label></td>
                        <td><textarea ng-model="current_slide.notes" class="input input-xlarge" rows="2"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea ng-model="current_slide.content" id="current_slide_content" rows="5"
                                      class="input input-xxlarge"></textarea>
                            <label><input type="checkbox" ng-model="current_slide.markdown" />
                                Use Markdown</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" data-target="newSlide" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" ng-click="save_current_slide()">Update Slide</button>
            </div>
        </div>
<button class="btn btn-primary btn-large" ng-click="new_slideshow()">Create a new Slideshow</button>
    </div>
</div>

<!-- script type="text/javascript">
    var new_slide_ck;
    var edit_slide_ck;
    $(function () {
       new_slide_ck = CKEDITOR.replace('new_slide_content');
       edit_slide_ck = CKEDITOR.replace('current_slide_content');
    })
</script -->
<style>
    .bigModal {
        width: 940px;
        margin-left: -470px;
    }

    .nomargin {
        margin: 0px;
    }

    .editable td:not(:hover) textarea,
    .editable td:not(:hover) input[type=text] {
        border: 1px dotted rgb(225,225,255);
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
</style>