<% if (false) { %>
<pre style="display: none">
    <%- JSON.stringify(series, true, 3) %>

</pre>
<%} %>
<% series.forEach(function(data, i){
var slide = data.slide;
%>
<div class="step slide"
     data-x="<%= data.x %>" data-y="<%= data.y %>" data-scale="<%- data.scale %>">

    <article>
        <% if (slide.title && !(slide.hide_title)){ %>
        <h1><%= slide.title %></h1>
        <% } %>
        <section>
            <%- slide.content %>
        </section>
    </article>
    <header>
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/slideshows">Slideshows</a>
        </div>
        <div class="slide_menu">
            <a href="/slideshow/view/<%- slideshow._id %>" class="menu_top"><%- slideshow.title %></a>
            <nav style="display: none">
                <% slides.forEach(function(slide, i){%>
                <div>
                    <a href="/slideshow/view/<%- slideshow._id %>#/step-<%= i + 1 %>"><%- slide.title %></a>
                </div>
                <% }) %>
            </nav>
        </div>
        <div>
            <a href="/slideshow/edit_slide/<%- slide._id %>">Edit</a>
        </div>
    </header>
</div>
<%}) %>
<script language="javascript">

    $(function () {

        var show_slide_menu = false;

        function _update_navs() {
            $('.slide_menu nav').each(function (n2, ele2) {
                if (show_slide_menu) {
                   // console.log('showing ', ele2);
                    $(ele2).show();
                } else {
                    $(ele2).hide();
                }
            });
        }

        $('.slide_menu a.menu_top').each(function (n, ele) {
            $(ele).on('click', function () {
                show_slide_menu = !show_slide_menu;
                _update_navs();
                return false;
            });
        });

        $('.slide_menu nav div a').each(function(n, a_ele){
        //    console.log('cloaking ', a_ele);
            $(a_ele).on('click', function(){
            //    console.log('closing the menu');
                show_slide_menu = false;
                _update_navs();
                // note - continue on to work as link
                return true;
            });
        });

        impress().init();

    })
</script>