<h1><%= article.title %></h1>

<%- html %>
<div class="well">
    <dl>
        <dt>Revised</dt>
        <dd><%= article.revised %></dd>
        <% if (article.on_homepage){ %>
        <dt>Flagged</dt>
        <dd>for home page</dd>
        <% } %>
        <% if (article.hide) { %>
        <dt>Hidden</dt>
        <dd>true</dd>
        <% } %>
        <dt>Tags</dt>
        <dd><% article.tags.forEach(function(tag){ %><%= tag %> <% }) %></dd>
    </dl>

</div>

        <p><small><a href="<%= edit_link %>" class="btn btn-small">Edit</a></small></p>