<div ng-app="messages">
<div ng-controller="MessagesCtrl">
    <form class="form" class="ng-cloak">

        <h1>Search Noogle</h1>

        <div class="row-fluid">
            <div class="span3"><label for="search">Search Term(s)</label></div>
            <div class="span5">
                <input type="text" class="input-xlarge search-query" name="search" ng-model="search" id="search"/>
            </div>
            <div class="span4">
                <button ng-click="find()"
                        class="btn btn-primary inverse"><i class="icon-search"></i> Search
                </button>
            </div>
        </div>
        <% if (false) { %>
        <div class="row-fluid">
            <div class="span3">&nbsp;</div>
            <div class="span5"><label for="advanced_check">
                <input type="checkbox" id="advanced_check"
                       ng_model="show_advanced"/> Advanced
                Search</label></div>
        </div>
    <span id="advanced" ng-visible="show_advanced" style="display: none">
<fieldset>
    <legend>Advanced Search Options</legend>
    <div class="row-fluid">
        <div class="span3"><label for="timespan">Search within </label></div>
        <div class="span5"><select id="timespan" name="timespan" ng-model="timespan" class="input-xlarge">
            <option value="1w">
                One Week
            </option>
            <option value="1m">
                One Month
            </option>
            <option value="3m">
                Three Months
            </option>
            <option value="1y">
                One Year
            </option>
            <option value="*">
                Entire History
            </option>
        </select></div>
        <div class="span4">&nbsp;</div>
    </div>
    <div class="row-fluid">
        <div class="span3"><label for="username">Username </label></div>
        <div class="span5"><input type="text" id="username" name="username" ng-model="username" class="input-xlarge"/>
        </div>
        <div class="span4"><span class="help-block">You can insert &quot;*&quot; for name GREPs. </span></div>
    </div>
    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span5"><label for="username"><input type="checkbox" id="q_only" ng_model="q_only" name="q_only"
                                                        checked="checked"/>
            Questions only</label></div>
        <div class="span4"><span class="help-block">Only returns items with a question mark in them.</span></div>
    </div>
</fieldset>
    </span>
        <% } %>
    </form>

    <div id="wait" class="modal fade in" role="dialog" data-backdrop="true" style="display: none; ">
        <div class="modal-header">
            <!-- a class="close" data-dismiss="modal">×</a -->
            <h3>Searching for &quot;{{search}}&quot;</h3>
        </div>
        <div class="modal-body">
            <p>Please wait while we look up your term.</p>
        </div>
        <!-- div class="modal-footer">
            <a href="#" class="btn btn-success">Call to action</a>
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div -->
    </div>

    <p>Messages: {{ messages.length }}, filtered messages: {{  (messages | filter: weighted_words()).length }}</p>

    <ul class="nav nav-tabs" id="noogle_tab">
        <li><a href="#tab_results" ng-click="tab='results'" data-toggle="tab">Results</a></li>
        <li><a href="#tab_keywords" ng-click="tab='keywords'" data-toggle="tab">Keywords</a></li>
        <li><a href="#tab_users" ng-click="tab='users'" data-toggle="tab">Users</a></li>
    </ul>

    <div id="noogle_tab_content" class="tab-content" style="overflow: visible">
        <div class="tab-pane clearfix" id="tab_users" style="overflow: visible">

            <h3>
                users
            </h3>

            <div class="well well-compact">

                <span ng-repeat="u in users | filter: ww">
                  <b ng-click="u.weighted=false">{{ u.username }}<sup>&nbsp;&nbsp;&times;</sup></b>
                    </span>
            </div>

            <div id="user_list">
                <span ng-repeat="u in users">
                    <user style="{{word_style(u)}}"  ng-click="u.weighted = !u.weighted">{{ u.username }}</small>
                    </user>
                    </span>
            </div>
        </div>

        <div class="tab-pane clearfix" id="tab_keywords" style="overflow: visible">
            <h3>
                Keywords
            </h3>

            <div class="well well-compact">

                <span ng-repeat="word in words | filter:ww">
                  <b ng-click="word.weighted = false">{{ word.word }}<sup>&nbsp;&nbsp;&times;</sup></b>
                    </span>
            </div>

            <div id="word_list">
                <span ng-repeat="word in words">
                    <word style="{{word_style(word)}}" ng-click="word.weighted = !word.weighted">{{word.word}}</small>
                    </word>
                    </span>
            </div>
        </div>

        <div class="tab-pane clearfix" id="tab_results">
            <table class="table noogle-results">
                <thead>
                <tr>
                    <th class="date" ng-click="order_field = 'date'">Date
                        <i class="icon-arrow-up"
                           ng-click="m_reverse = true"
                           ng-show="(order_field=='date') && (!m_reverse)"></i>
                        <i class="icon-arrow-down"
                           ng-click="m_reverse = false"
                           ng-show="(order_field=='date') && m_reverse"></i>
                    </th>
                    <th class="username" ng-click="order_field = 'username'">Username
                        <i class="icon-arrow-up"
                           ng-click="m_reverse = true"
                           ng-show="(order_field=='username') && (!m_reverse)"></i>
                        <i class="icon-arrow-down"
                           ng-click="m_reverse = false"
                           ng-show="(order_field=='username') && m_reverse"></i>
                    </th>
                    <th class="messages">Messages</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in messages | filter: weighted_words() | orderBy: order_field:m_reverse">
                    <td nowrap="nowrap">{{ m.date }}</td>
                    <td>{{ m.username }}</td>
                    <td>{{ m.message }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .padded .row-fluid div {
        padding: 0.5em;
    }

    .noogle-results th.date {
        width: 12%;
        white-space: nowrap
    }

    .noogle-results   th.username {
        width: 12%;
        white-space: nowrap
    }

    .noogle-results  th.messages {

    }

    #tab_users  span,
    #tab_keywords  span {
        display: inline-block;
        padding: 0.1em 0.5em;
    }

    #tab_users div.well span,
    #tab_keywords div.well span {
        font-size: 150%;
    }

        /**** Isotope Filtering ****/

    .isotope-item {
        z-index: 2;
    }

    .isotope-hidden.isotope-item {
        pointer-events: none;
        z-index: 1;
    }

        /**** Isotope CSS3 transitions ****/

    .isotope,
    .isotope .isotope-item {
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }

    .isotope {
        -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        -ms-transition-property: height, width;
        -o-transition-property: height, width;
        transition-property: height, width;
    }

    .isotope .isotope-item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
        -o-transition-property: top, left, opacity;
        transition-property: transform, opacity;
    }

        /**** disabling Isotope CSS3 transitions ****/

    .isotope.no-transition,
    .isotope.no-transition .isotope-item,
    .isotope .isotope-item.no-transition {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
    }


</style>

<script>
    var NOOGLE_CONFIG = <%- JSON.stringify(params) %>;
</script>