<% if (false) {%>
<script language="javascript">
    //  <% } %>
    function wiki(txt, article, callback) {

      //  console.log('text: ', txt, 'article: ', article);

        if (!callback){
            throw new Error('no callback to wiki');
        } else {
            console.log('wiki callback: ', callback);
        }

        function marked_cb(txt, article, cb) {
            if (!cb){
                throw new Error('marked_cb: no callback passed');
            }
            try {
                txt = marked(txt);
                cb(null, txt, article);
            } catch (err) {
                cb(err);
            }
        }

        async.waterfall([
                function(cb){
                    cb(null,  txt, article)
                },
<%- parsers.join(',') %>
        ], callback);

    }
    //  <% if (false) {%>
</script>
<% } %>