<form method="post" class="wizard"><h1>Site Initialization</h1>
<%- partial("../../views/step_header.html", {step: "unix_username"}) %>
<h2>Unix Username</h2>
<p>
	Select the unix username that you use when you log in to this server.
    You don&#39;t have to enter a unix username, but it will enable
    the site to reassign ownership of any files created on this server.</p>

    <table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<th>
					Username</th>
				<td>
					<input name="unix_username" type="text" <% if (unix_username){%>
                    value="<%= unix_username %>"
                    <% } %>/></td>
			</tr>
		
		</tbody>
	</table>
<%- partial("../../views/step_footer.html", {step: "unix_username"}) %></form>