
<div class="row content-row">
    <div class="span4">
        <%- partial('tags.html', {tags: first_third}) %>
    </div>
    <div class="span4">
        <% _.each(second_third, function(tag){ %>
        <div class="well well-small tag_items">
            <h3><%= tag.tag %></h3>
            <dl>
                <% tag.items.forEach(function(si){ %>
                <dt><a href="/wiki/a/<%= si.scope %>/<%- si.name %>"><%= si.title %></a></dt>
                <dd><%- si.summary %></dd>
                <% }) %>
            </dl>
        </div>
        <% }) %>
    </div>
    <div class="span4">
        <% _.each(third_third, function(tag){ %>
        <div class="well well-small tag_items">
            <h3><%= tag.tag %></h3>
            <dl>
                <% tag.items.forEach(function(si){ %>
                <dt><a href="/wiki/a/<%= si.scope %>/<%- si.name %>"><%= si.title %></a></dt>
                <dd><%- si.summary %></dd>
                <% }) %>
            </dl>
        </div>
        <% }) %>
    </div>
</div>