
<% _.each(tag_items.tags, function(tag){ %>
<div class="well well-small tag_items">
    <h3><%= tag.tag %></h3>
    <dl>
        <% tag.items.forEach(function(si){ %>
        <dt><a href="/wiki/a/<%= si.scope %>/<%- si.name %>"><%= si.title %></a></dt>
        <dd><%- si.summary %></dd>
        <% }) %>
    </dl>
</div>
        <% }) %>
<br clear="both" />
<div class="scope_menu">
    <ul>
        <% tag_items.untagged.forEach(function(si){ %>
        <li><a href="/wiki/a/<%= si.scope %>/<%= si.name %>"><%= si.title %></a><summary><%- si.summary %></summary></li>
        <% }) %>
    </ul>
</div>