<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title></title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="viewport" content="width=device-width"/>

    <!-- Stylesheets -->
    <%- partial("css.html", css) %>

    <!-- Scripts -->
    <%- partial("js.html", javascript_head) %>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js" defer="defer"></script>
    <![endif]-->
</head>
<body>
<%- helpers.flash() %>

<div class="container-fluid">
<div class="row-fluid">
    <div class="span3">
        <object type="image/svg+xml" data="/home_layout/img/logo187x43.svg"
                width="188" height="44" border="0" style="overflow: hidden"></object>
        <% if (menus.member){
        %><%- partial('sidebar.html', {menu: menus.member}) %><%
        };
        if (menus.nav){
        %><%- partial('sidebar.html', {menu: menus.nav}) %><%
        }
        %>
    </div>
    <div class="span9">
<%- body %></div><!-- row-fluid -->
</div><!-- container-fluid -->

    <!-- Modal -->
    <div class="modal" id="template_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none" >
    </div>

<script>
    $(function () {

        $(function(){
            $('#container').masonry({
                // options
                itemSelector : '.tweet',
                columnWidth : 30,
                isAnimated: true
            });
        });

    });
</script>

<!-- Scripts -->
<%- partial("js.html", javascript) %>
</body>
</html>